<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>ControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>webform</servlet-name>
    <jsp-file>request_form.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>areacheck</servlet-name>
    <servlet-class>AreaCheckServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webform</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>areacheck</servlet-name>
    <url-pattern>/area</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>controller</welcome-file>
  </welcome-file-list>

</web-app>
